<% pending_approvals.each do |pa| %>
  <div class='homepage-block col-md-3'>
    <h4>
      <%= pa.user.full_name %>
    </h4>
    <p>
      <span class='pending-details'>Date Submitted:</span> <%= pa.date %>
    </p>
    <p>
      <span class='pending-details'>Rationale:</span> <%= truncate pa.rationale, length: 42 %>
    </p>

    <div class='row'>
      <div class='col-md-6 column'>
        <%= link_to 'Approve', approve_post_path(pa), class: 'btn btn-success btn-block', id: "approve_#{pa.id}" %>
      </div>
      <div class='col-md-6 column'>
        <%= link_to 'Review', edit_post_path(pa), class: 'btn btn-warning btn-block', id: "review" %>
      </div>
    </div>
  </div>
<% end %>
