<div>
  <h2><%= @post.rationale %></h2>
</div>

<div class="well">
  <div>
    <h3><span>Overtime Amount Requested:</span> <%= @post.overtime_request %></h3>
  </div>

  <div>
    <h3><span>Employee:</span> <%= @post.user.full_name %></h3>
  </div>

  <div>
    <h3><span>Date:</span> <%= @post.date %></h3>
  </div>

  <div>
    <h3><span>Current Status:</span> <%= @post.status %></h3>
  </div>
</div>

<td>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' if policy(@post).update? %>
</td>

<br><br>
or

<h1>Post Show Pg</h1>

<% for attribute in @post.attributes.keys %>
  <p><%= attribute.humanize + ':' %> <%= @post.attributes[attribute].to_s %></p>
<% end %>
