<!DOCTYPE html>
<html>
  <head>
    <title>OtApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
	    <div class="row">
		    <div class="col-md-12">
          <%= render 'shared/nav' %>
          <%= yield %>
        </div>
      </div>
    </div>

    <% if flash[:alert] %>
      <%= js add_gritter(flash[:alert], title: "Rails Code Along Notification", sticky: false, image: :notice) %>
    <% elsif flash[:error] %>
      <%= js add_gritter(flash[:error], title: "Rails Code Along Notification", sticky: false, image: :notice) %>
    <% elsif flash[:notice] %>
      <%= js add_gritter(flash[:notice], title: "Rails Code Along Notification", sticky: false, image: :notice) %>
    <% end %>

  </body>
</html>
